/* Firefox */
input[type="date"]::-moz-placeholder {
    color: #999; /* Placeholder color */
  }
  .addTask
  {
    width: 90%;
  }

  .dashboard-background
  {
    background-image: linear-gradient(to right, #333867, #17193b); /* Gradient background */ 
  }

