.header-style
{
    background-color: rgb(53, 55, 106);
    // height: 80px;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0.8, 0.4);
}

.side-navbar
{
    // width: 180px;
    background-color:rgb(40, 41, 82);
    // height:100%;
}

.main-class
{
    background-color: rgb(33, 34, 66);;

}
